/*              Unit 3 Assignment
				Author: Joshua Allen
                Date: September 28, 2021
*/
@import 'reset';
@import 'variables';
@import 'functions';
@import 'mixins';

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#814374+0,51a39d+100 */
    background: #814374; /* Old browsers */
    background: -moz-linear-gradient(top, #814374 0%, #51a39d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #814374 0%,#51a39d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #814374 0%,#51a39d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#814374', endColorstr='#51a39d',GradientType=0 ); /* IE6-9 */
    @media (min-width: 700px){
        #flexBox-id {
            flex-flow: row nowrap;
        }
    }
    .container {
        width: 100%;
        height: 100%;
        header{
            text-align: center;
        }
         .flexBox{
            height: 100%;
            width: 90%;
            @include block--center;
            display: flex;
            flex-flow: column nowrap;
            aside {
                background-color: color(primary);
                color: color(secondary);
                 white-space: nowrap;
                ul{
                   padding: 0;
                    li {
                        padding: 30px;
                        text-align: center;
                        a {
                            font-size: 20px;
                            @include curved--border(transparent);
                            @include hover--effect(background-color);
                        }
                        a:hover {
                            background-color: #aa9d6f;
                            font-size: 24px;
                            cursor: pointer;
                        }
                    }
                }
                
            }
            main {
                background-color: color(tertiary);
                color: color(secondary);
                p {
                    margin: 20px;
                }
                ol {
                    margin: 20px;
                    list-style-type: decimal;
                    list-style-position: inside;
                    padding: 0;
                }
            }
        }
    }
}
